:root {
    --text-color: #667085;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    width: 100%;
    height: 100vh;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }
  
  .links a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
  }
  
  .btn{
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
  }
  
  button#signUp {
    background-color: #8E2424;
    color: #e00000;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .sub-title-container h6 {
    font-size: 0.9rem; /* ajuste o tamanho conforme desejar */
    color: #8E2424; /* ajuste a cor conforme o design desejado */
    margin-bottom: 10px; /* espaço entre o h6 e o h2 */
  }
  
  .title-container h2 {
    font-size: 2rem; /* ajuste o tamanho conforme desejar */
    color: #222; /* ajuste a cor conforme o design desejado */
    margin-bottom: 15px; /* espaço entre o h2 e o span */
  }
  
  .title-container span {
    padding-bottom: 20px;
    font-size: 1rem; /* ajuste o tamanho conforme desejar */
    color: #555; /* ajuste a cor conforme o design desejado */
    line-height: 1.5; /* melhora a legibilidade */
    margin-top: 15px;
  }
  .number p{
    font-size: 2rem;
    color:#8E2424
    }
  .titulo-metrica{
    color: #252525;
    font-size:0.9rem ;
    margin-bottom: 12px;
  }
  .text-metrica{
    color:#787a7c;
    font-size: 0.7rem;
    gap: 20px;
  }
.metricas-container{
  flex-direction: row;
  padding: 20px;
  display: flex;
  flex-wrap:nowrap ;
  margin-top: 50px;
  padding: auto;
  justify-content: space-between ;
}

.metrica{
  background: #fdf6f6;
  justify-content: space-between;
  width: 500px;
  margin: 25px;
}

.talentos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.sub-title-talentos h6{
  font-size: 0.8rem; /* ajuste o tamanho conforme desejar */
  color: #8E2424; /* ajuste a cor conforme o design desejado */
  margin-bottom: 10px; /* espaço entre o h6 e o h2 */
}

.title-talentos h2 {
  font-size: 1.3rem; /* ajuste o tamanho conforme desejar */
  color: #222; /* ajuste a cor conforme o design desejado */
  margin-bottom: 15px; /* espaço entre o h2 e o span */
}

.title-talentos span {
  padding-bottom: 20px;
  font-size: 0.8rem; /* ajuste o tamanho conforme desejar */
  color: #555; /* ajuste a cor conforme o design desejado */
  line-height: 1.5; /* melhora a legibilidade */
  margin-top: 15rem;
}
.time-images{
  padding-top: 100px;
}

.vagas-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.categoria-vaga{
  color:#272727;
  padding: 5px 10px;
  font-weight: bold;
  margin-left: 20%;
  }

.vagas-container{
  flex-direction: column;
  width: 500px;
  margin: 25px;
  margin-right:1rem ;
}

.bloco-vagas {
  background: #ffebeb48;
  border: 2px solid #07060613;
  border-radius: 10px;
  width: 90%; /* Ajuste conforme necessário */
  margin: 25px auto; 
  margin-left: 40%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.titulo-vaga {
  color: rgb(61, 61, 60);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.informacoes {
  color: #858585;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* padding: 2vh; */
}

.full{
  padding: 0.9rem;
}

.container-colaboradores{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
  gap:16px
}

.colaboradores-text{
  font-size: 0.7rem; /* ajuste o tamanho conforme desejar */
  color: #8e2424; /* ajuste a cor conforme o design desejado */
  margin-bottom: 10px; /* espaço entre o h6 e o h2 */
  font-weight: bold;
  margin-bottom: 20px;
}

.text-container span {
  padding: 20px;
  font-size: 1.5rem; /* ajuste o tamanho conforme desejar */
  color: #181717; /* ajuste a cor conforme o design desejado */
  line-height: 1.5; /* melhora a legibilidade */
  margin-top: 15px;
  gap: 16px;
}

.name-avatar{
  font-size: 0.8rem;
}

.profissao-avatar{
  font-size:0.7rem ;
  color: #5e5d5d;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 5px;
  gap: 20px
}

.sub-title-footer{
  font-size: 2rem; /* ajuste o tamanho conforme desejar */
  color: #141313; /* ajuste a cor conforme o design desejado */
  margin-bottom: 10px; 
  font-weight: bold;
  margin-bottom: 20px;
}

.texto-footer{
  color:#7c7c7c;
}

.inputs{
  gap: 50px;
}

p{
  color: #5e5d5d;
}